<div class="bg-secondary p-4 rounded-4">

  <table class="table table-borderless mb-0">
    <thead>
      <tr>
        <th class="text-center">id</th>
        <th >Product</th>
        <th class="text-center">Description</th>
        <th class="text-center">Date</th>
        <th class="text-center">Price</th>
        <th class="text-center">Stock</th>
        <th class="text-center">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td class="text-center">{{ product.id }}</td>
        <td>{{ product.productName }}</td>
        <td>{{ product.description }}</td>
        <td class="text-center">{{ product.creationDate }}</td>
        <td class="text-center">{{ product.price | currency }}</td>
        <td class="text-center">{{ product.stock }}</td>
        <td class="text-center">{{ product.status }}</td>
        <!--<td>
           <div [attr.class]="'dropdown'+i">
            <button class="btn btn-secondary dropdown-toggle" type="button" [attr.data-bs-toggle]="'dropdown'+i" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" [routerLink]="['/updateProduct', product.id]">Edit</a></li>
              <li><a class="dropdown-item" href="#" [routerLink]="'/home'" (click)="removeProduct(product.id)">Delete</a></li>
            </ul>
          </div> 
        </td>-->
      </tr>
    </tbody>
  </table>

</div>


