<div class="border-bottom border-gray-600 mb-2 d-flex justify-content-end pb-2">

    <button type="button" class="btn btn-primary px-2 py-1 me-1">
        <i class="bi bi-sliders"></i>
    </button>
    <button type="button" class="btn btn-primary px-2 py-1 ms-1" (click)="redirectToNewProduct()">
        <i class="bi bi-plus-lg"></i>
    </button>
    
</div>


<form [formGroup]="filtersForm" (ngSubmit)="onSubmit()">
    <div class="row">

        <div class="col col-2">
            <label for="productId">ID</label>
            <input type="number" class="form-control" id="productId" name="productId" required autocomplete="off" formControlName="productId">
        </div>

        <div class="col col-4">
            <label for="nameProduct">Product</label>
            <input type="text" class="form-control" id="nameProduct" name="nameProduct" required autocomplete="off" formControlName="nameProduct">
        </div>

        <div class="col col-3">
            <label for="creationDate">Date of creation</label>
            <input type="date" class="form-control" id="creationDate" name="creationDate" required autocomplete="off" formControlName="creationDate">
        </div>

        <div class="col col-3">
            <label for="category">Category</label>
            <select name="category" id="category" class="form-control" formControlName="category">
                <option value="">--Select--</option>
                <ng-container *ngFor="let cat of categories">
                    <option [attr.value]="cat.id">{{cat.catName}}</option>
                </ng-container>
            </select>
        </div>

        <div class="col col-4">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" formControlName="description"></textarea>
        </div>
        
        <div class="col col-3">
            <div class="d-flex flex-column h-100 justify-content-end">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="true" id="true" formControlName="status" checked>
                    <label class="form-check-label" for="true">
                        Activo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="false" id="false" formControlName="status">
                    <label class="form-check-label" for="false">
                        Inactivo
                    </label>
                </div>
            </div>
        </div>

        <div class="mt-3 d-flex">
            <button class="btn btn-primary me-2" type="submit">Filter products</button>
            <button class="btn btn-danger" type="button" (click)="resetForm()">Reset search</button>
        </div>
    </div>

</form>