.custom-img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}
.bg-nav-bar {
    background-color: #007d01;
}
// .bg-nav-bar{
//     background-image: linear-gradient(to top, #8adbf9, #ade1f4 25%, #e3f2f8);
// }
