@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$table-bg: none;

$pink-light: rgb(248, 180, 233);
$secondary: rgb(247, 234, 215);
$gray-600: rgb(174, 174, 174);

$theme-colors: map-merge(
  $theme-colors,
  (
    "indigo": $indigo,
    "gray-600": $gray-600,
    "pink": $pink,
    "pink-light": $pink-light,
    "secondary": $secondary
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";

.cursor-pointer {
  cursor: pointer;
}