

<table class="table table-borderless mb-0 align-middle">
  <thead>
    <tr class="fs-7">
      <th >Product</th>
      <th class="text-center">Availabilty</th>
      <th >Description</th>
      <th class="text-center">Uploaded at</th>
      <th class="text-center">Price</th>
      <th class="text-center">Category</th>
      
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="products">

    <ng-container *ngFor="let product of products; let i = index">
      <tr class="border-bottom border-gray-600 fs-7">
        <!-- <td class="text-center">
          <ng-container *ngIf="!product.deleted; else deleted">
            <div class="d-flex justify-content-center align-items-end">
              <i class="bi bi-check-lg text-success"></i>
            </div>
          </ng-container>

          <ng-template #deleted>
            <div class="d-flex justify-content-center align-items-end">
              <i class="bi bi-x-lg text-danger"></i>
            </div>
          </ng-template>
        </td> -->
        <td>
          <span class="fw-medium me-2">{{ product.id }}</span>
          <a class="link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
            {{ product.productName }}
          </a>
        </td>


        <td class="text-center fs-8 fw-medium">
          <span class="d-block rounded-2" [class.bg-teal-200]="product.stock > 0" [class.bg-red-300]="product.stock == 0">
            {{ product.stock }}
          </span>
        </td>


        <td>{{ product.description }}</td>
        <td class="text-center">{{ product.createdAt | date:"mediumDate" }}</td>
        <td class="text-center fs-6 fw-medium">{{ product.price | currency }}</td>
        <td class="text-center">{{ product.category?.catName }}</td>
        


        <!-- <td class="text-center cursor-pointer">
          <i class="bi bi-three-dots-vertical"></i>
        </td> -->

        <td class="text-center">

          <app-dropdown>
            <button dropdownToggle class="custom-btn dropdown-toggle" type="button">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul dropdownMenu class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li><a class="dropdown-item" href="#">See details</a></li>
              <li><a class="dropdown-item" href="#">Increase/decrease stock</a></li>
            </ul>
          </app-dropdown>

        </td>
      </tr>
    </ng-container>

  </tbody>
</table>




